@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Sono&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/fundo_curriculo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
section{
    margin-left: 15%;
    margin-right: 5%;
}

h2 {
    color: #0F6292;
}

#apresentacao h1{
    font-family: 'Sono', sans-serif;
}

#formacao_complementar li {
    font-weight: bold;
}

#Sobre p{
    font-weight: bold;
} 
#dados_pessoais a{
    text-decoration: none;
}

#formacao_complementar li:hover {
    color: #000000;
    cursor: default;
}

#Sobre p:hover {
    cursor: default;
}

#formacao_academica tr td:hover {
    cursor: default;
}

#formacao_academica tr:hover{
    background-color: #d1e0e0;
    font-weight: bold;
}

#formacao_academica table {
    width: 100%;
}

#formacao_academica thead{
    background-color:#8585ad;
}

#formacao_academica table:hover {
    cursor: default;
}

#apresentacao img {
    border-radius: 50%;
}

#end_map address{
    text-align: center;
}

#end_map address h4{
    font-size: 15px;
}

#porfolio iframe{
    display: inline-block;
    overflow-y: hidden;
}

/* ctrl + shift + p atalho*/